@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&family=Montserrat:wght@400;700&family=Young+Serif&display=swap');

html {
    overflow-x: hidden;
}

body {
    align-items: center;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}

.game-name {
    font-family: 'Young Serif', serif;
    font-style: italic;
    font-size: 2.5em;
    text-align: left;
    width: 100%;
}

.game-container, .how-to-play {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    height: 100%;
    justify-content: center;
    margin-top: 8px;
    width: 100%;
}

.how-to-play {
    border: 3px solid rgba(108, 153, 187, .5);
    padding: 32px;
    margin-bottom: 16px;
    width: 50%
}

.how-to-play .game-name {
    margin-bottom: 12px;
}

.border-countries {
    align-items: center;
    background-color: rgba(108, 153, 187, .5);
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 8px;
    margin-top: 16px;
    width: 40%;
}

.border-countries a {
    border-radius: 4px;
    margin: 8px;
    padding: 8px;
}

.border-countries a:hover {
    background-color: rgba(108, 153, 187, .5);
    cursor: pointer;
}

.you-are-here {
    text-align: center;
    font-size: 1.5em;
}

.extra-info {
    font-size: .75em;
    width: 40%;
}

.x-button {
    border: 3px solid rgba(255, 255, 255, .25);
    border-radius: 4px;
    cursor: pointer;
    font-size: 2em;
    margin-top: 16px;
    text-align: center;
    width: 60px;
}

.center-text {
    text-align: center;
}

.nondisplay {
    display: none;
}

.share-button, .midnight-timer {
    font-size: 1.5em;
    text-align: center;
}

.share-button {
    font-family: 'Young Serif', serif;
}

.travel-from-here {
    width: 70%;
}

b {
    background: rgba(108, 153, 187, .5);
    border-radius: 4px;
    font-size: 1.2em;
    font-weight: normal;
    padding: 4px 12px;
}

.visible-on-narrow {
    display: none;
}

.border-countries .midnight-timer:hover {
    background-color: rgba(108, 153, 187, 0);
    cursor: auto;
}

.text-small {
    font-size: .75em;
}

em {
    font-style: none;
}

.flag-mode {
    font-size: 3em;
}

@media screen and (max-width: 900px) {
    .border-countries, .extra-info, .how-to-play, .travel-from-here {
        width: 90%
    }
    
    .visible-on-narrow {
        display: block;
    }

    .border-countries a {
       font-size: 1em;
       border: 3px solid rgba(255, 255, 255, .25);
    }

    .border-countries div:active {
       font-size: 1em;
       background-color: rgba(255, 255, 255, .75);
       border: 3px solid rgba(255, 255, 255, .25);
    }

    .border-countries a:hover {
        background-color: rgba(108, 153, 187, 0);
    }

    .border-countries .midnight-timer {
        border: none;
        font-size: 1em;
    }

    .border-countries .midnight-timer em {
        border: none;
        font-style: normal;
        font-size: 2em;
    }
}